@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);

	--container-max-width: 1400px;

	--font-display: var(--calsans);
	--font-rubik: var(--rubik);
	--font-outfit: var(--outfit);
	--font-funnel: var(--funnel);

	--color-purple: var(--purple);
	--color-midnight: #06091f;
	--color-navy: #161a31;
	--color-indigo: #1f1e39;
	--color-storm: #282b4b;
	--color-aqua: #33c2cc;
	--color-mint: #57db96;
	--color-royal: #5c33cc;
	--color-lavender: #7a57db;
	--color-fuchsia: #ca2f8c;
	--color-orange: #cc6033;
	--color-sand: #d6995c;
	--color-coral: #ea4884;

	/* =========================
	   Animation variables
	========================= */

	--animate-fade-in: fade-in 2s ease-in-out forwards;
	--animate-title: title 3s ease-out forwards;
	--animate-glitch: glitch 1s infinite alternate;
	--animate-orbit: orbit 50s linear infinite;

	/* =========================
	   Keyframes
	========================= */

	@keyframes fade-in {
		0%,
		75% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes title {
		0% {
			line-height: 0%;
			letter-spacing: 0.25em;
			opacity: 0;
		}
		25% {
			line-height: 0%;
			opacity: 0;
		}
		80% {
			opacity: 1;
		}
		100% {
			line-height: 100%;
			opacity: 1;
		}
	}

	@keyframes glitch {
		0% {
			text-shadow: 2px 2px red, -2px -2px yellow;
		}
		25% {
			text-shadow: -2px -2px red, 2px 2px yellow;
		}
		50% {
			text-shadow: 2px -2px red, -2px 2px blue;
		}
		75% {
			text-shadow: -2px 2px red, 2px -2px yellow;
		}
		100% {
			text-shadow: 2px 2px red, -2px -2px yellow;
		}
	}
	@keyframes orbit {
		0% {
			transform: rotate(calc(var(--angle) * 1deg))
				translateY(calc(var(--radius) * 1px))
				rotate(calc(var(--angle) * -1deg));
		}
		100% {
			transform: rotate(calc(var(--angle) * 1deg + 360deg))
				translateY(calc(var(--radius) * 1px))
				rotate(calc((var(--angle) * -1deg) - 360deg));
		}
	}
}

:root {
	--radius: 0.625rem;
	--background: #f5f5f5;
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(21.033% 0.00588 285.832);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.705 0.015 286.067);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.21 0.006 285.885);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.705 0.015 286.067);

	--purple: #b63e96;
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.92 0.004 286.32);
	--primary-foreground: oklch(0.21 0.006 285.885);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.552 0.016 285.938);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.552 0.016 285.938);

	--purple: #58e6d9;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground font-funnel;
	}
	p {
		@apply cursor-default;
	}
}

::-webkit-scrollbar {
	display: none;
}

* {
	user-select: none;
}

@layer utilities {
	.container {
		width: 100%;
		margin-inline: auto;
		max-width: 100%;
	}

	.sr-only {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}

	@media (min-width: 1536px) {
		.container {
			max-width: var(--container-max-width);
		}
	}
}

.hover-animation {
	@apply hover:-translate-y-1 duration-200;
}

.text-heading {
	@apply font-bold text-3xl md:text-4xl;
}

.headtext {
	@apply mt-2 mb-2 text-xl text-foreground font-medium;
}

.subtext {
	@apply text-foreground/80 text-sm md:text-base text-pretty;
}

.btn {
	@apply relative px-1 py-4 text-sm text-center rounded-full font-extralight bg-primary w-[12rem] cursor-pointer overflow-hidden;
}

/* About Section */
.grid-1 {
	@apply row-span-2 md:col-span-3 h-60 md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-2 {
	@apply row-span-1 md:col-span-3 h-60 md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-3 {
	@apply row-span-1 md:col-span-3 h-60 md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-4 {
	@apply row-span-1 md:col-span-2 h-60 md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}
.grid-5 {
	@apply row-span-1 md:col-span-4 h-60 md:h-full relative overflow-hidden hover:-translate-y-1 duration-200;
}

.grid-default-color {
	@apply p-2 sm:p-4 md:p-6 bg-[#E7E7E780] border border-muted-foreground/15 rounded-xs;
}

.grid-special-color {
	@apply p-6 bg-gradient-to-b from-royal to-lavender rounded-xl;
}
.grid-black-color {
	@apply p-6 bg-gradient-to-tl from-[#3A3A3A] via-[#242424] to-[#3A3A3A] rounded-xl;
}

/* .grid-default-color {
	@apply p-6 rounded-2xl bg-linear-to-b from-[#B6B9D6] via-[#9DA2CC] to-[#7E84B8] dark:from-storm dark:to-indigo;
}

.grid-special-color {
	@apply p-6 rounded-2xl bg-linear-to-b from-[#A894E6] via-[#8E6FDC] to-[#7453C9] dark:from-royal dark:to-lavender;
}

.grid-black-color {
	@apply p-6 rounded-2xl bg-linear-to-tl from-[#C7C7CF] via-[#9B9BA6] to-[#C7C7CF] dark:from-[#3A3A3A] dark:via-[#242424] dark:to-[#3A3A3A];
} */
